# clang-format version: 20
# ---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2

PointerAlignment: Left

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveBitFields: AcrossComments

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After

BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
BreakAfterAttributes: Always

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true

InsertBraces: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 8
  Decimal: 4
  Hex: 2

SpaceAroundPointerQualifiers: After
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1